:root{
    --cor_de_fundo: #d7d7d785;
    --rascunho: #eaeaea;
    --cor_do_rodape: #c12387;
    --nome_autores: #434343;
    --tipo_capa: #0993D8;
}

main{
    width: 100VW;
}

.produto{
    background-color: var(--cor_do_rodape);
    border-radius: 25px;
    height: 250px;
    padding: 5px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    width: 85%;
    margin-bottom: 20px;
}

.selecionar{
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.136); */
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selecionar input{
    /* margin-right: 20px; */
    width: 20px;
    height: 20px;
}

.img{
    display: flex;
    flex-direction: start;
    justify-content: center;
    margin: 15px;
    /* background-color: black; */
}

.img img{
    border-radius: 10px;
}

.informe{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
    /* background-color: #43434338; */
    width: 100%;
}

.lixeira{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding-bottom: 15px;

}

.lixeira img{
    width: 30px;
    height: 30px;
}

.finalizar{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 85vw;
    /* background-color: rgba(0, 0, 0, 0.181); */
    

}

button{
    background-color: white;
    width: 150px;
    height: 30px;
    border: 1.5px solid pink;
    border-radius: 25px;
}